.margin-right {margin-right: 20px;}
.text-grey-color {color: gray;}
.footer {margin-bottom: 40px;}


.css-class, .css-class-add, .css-class-remove {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
}

.css-class,
.css-class-add.css-class-add-active {
  color: red;
  font-size:3em;
}
.css-class-remove.css-class-remove-active {
  font-size:1.0em;
  color: black;
}









.abc{
  transition: all linear 10s;
  background-color: lightblue;
  height: 100px;
}

.ng-nhi {
  height: 0px;
}

#abc {
	background-image: url("mountain.jpg");
	/*background-color: #7FFFD4;*/
}

#xyz {
	background-color: #B0C4DE;
}

#mnp{
	background-color: #F0FFFF; 
}
